* {
  font-family: 'Helvetica', Arial, sans-serif;;
}

.hide {
  display: none;
}

a:hover {
  color: initial !important;
}

#container {
  margin: 0 auto;
  max-width: 960px;
  form {
    max-width: 600px;
  }
  input, textarea {
    display: block;
    width: 100%;
    font-size: 14pt;
    margin: 5px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
  }
  input[type='checkbox'] {
    width: initial;
    display: initial;
  }
  button {
    background: #2A8EC0;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 14pt;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    margin: 5px 0px;
  }

  textarea {
    height: 100px;
  }
  .unhappyMessage {
    color: red;
    display: block;
    padding: 2px 0px;
  }
  p.unimportant {
    color: #888;
  }

  #email-details {
    #email-details-container {
      width: 100%;
      overflow: auto;
      display: table;

      #csv-emails-container {
        width: 40%;
        display: table-cell;
      }
      #or-container {
        width: 10%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
      #file-upload-container {
        width: 40%;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  #enter-attributes {
    #email-template-preview{
      $rowBorder : 1px solid #eee;
      border-top: $rowBorder;
      border-bottom: $rowBorder;
      margin: 0;
      padding: 15px 0px;
      margin: 10px 0px;
    }
    #empty-attributes {
      padding-left: 10px;
    }
    .email-row-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: initial;
      &.remove-email-row {
        background-image: linear-gradient(#E63D4E, #C11A39);
        padding: 5px 20px;
      }
    }
    .preview-button {
      background: none;
      color: #666;
    }
    #add-email-row {
      background-image: linear-gradient(#aaa, grey);
    }
  }

  #flow-container {
    #breadcrumb {
      list-style: none;
      overflow: hidden;
      font: 18px Helvetica, Arial, Sans-Serif;
      padding-left: 0px;
      li {
        $color: #94C6E0;
        float: left;
        color: white;
        text-decoration: none;
        padding: 10px 0 10px 55px;
        background: $color;
        position: relative;
        display: block;
        $border-after: 30px solid;
        cursor: pointer;
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: $border-after $color;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          left: 100%;
          z-index: 2;
        }
        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 50px solid transparent;
          border-left: 30px solid white;
          position: absolute;
          top: 50%;
          margin-top: -50px;
          margin-left: 1px;
          left: 100%;
          z-index: 1;
        }
        &:hover {
          background: black !important;
        }
        &:hover:after {
          border-left-color: black !important;
        }

        &.clickable {
          $color: #2A8EC0;
          background: $color;
          &:after {
            border-left: $border-after $color;
          }
        }
        &.selected {
          $color: #195573;
          background: $color;
          &:after {
            border-left: $border-after $color;
          }
        }
      }
    }
  }

  #login-details {
    #smtp-form-header{
      color: #2A8EC0;
      cursor: pointer;
    }
  }
}
