<tr>
    {{#each this}}
        <td><input type="text" name="{{name}}" placeholder="{{name}}" value="{{value}}" /></td>
    {{/each}}
    <td><button class="remove-email-row email-row-button">-</button></td>
</tr>