<tr class="email-row">
    {{#each rowData}}
        <td><input type="text" name="{{name}}" placeholder="{{name}}" value="{{value}}" /></td>
    {{/each}}
    <td><button class="remove-email-row email-row-button">-</button></td>
    <td><button class="preview-button email-row-button" data-index="{{rowIndex}}">Preview</button></td>
</tr>
