<html>
<head>
{{> assets}}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
</style>
<title>Snail Mail - personalise your emails!</title>
    <meta name=”description” content="Stop sending the same email to different people 100 times. Personalise your emails and send them using your own Gmail Account!">
    <meta property="og:title" content="Snail Mail - personalise your emails!"/>
    <meta property="og:image" content="http://www.centraloregonprinting.com/wp-content/uploads/2012/08/mailing-envelope.jpg" />
    <meta property="og:description" content="Stop sending the same email to different people 100 times. Personalise your emails and send them using your own Gmail Account!"/>
    <meta property="fb:admins" content="511171993"/>
</head>
<body>
<div id="container">
    {{{body}}}
</div>
<div id="footer">
  Designed to work on Chrome and Firefox.
</div>
</body>
</html>
