
<input type="hidden" id="googleOauthCode" value="{{code}}"/>
<div id="sending-container">
<img id="spinner" src="/images/spinner.gif" />
<p>
    Please wait. your emails are being sent..
</p>
</div>
<script type="text/javascript" src="/sending_via_gmail.js"></script>