<div>
{{#if successful}}
    <p>All emails sent successfully.</p>
    <p>You can <a href="https://mail.google.com/mail/u/0/?pli=1#sent" target="_blank">check your sent email</a> to see if your emails were sent as you wanted.</p>
{{else}}
    Oops, your mails were not sent! The ones that failed are :
    {{#each emails}}
        <ul>
            {{#unless successful}}
                <li class="email-response error">
                    {{to}} : {{error}}
                </li>
            {{/unless}}
        </ul>
    {{/each}}
{{/if}}
    <p><a href="/">Send another email</a></p>
</div>