<div>
    {{#if responseByEmail}}
        Your emails are being sent. You will get a delivery report in your email. <a href="https://mail.google.com/mail/u/0/?pli=1#inbox">Check your email</a>
    {{/if}}
    {{> send_email_status}}
    <p><a href="/">Send another email</a></p>
</div>