<input id="page-name" type="hidden" value="home"/>
    <h1>Send Personalised Emails from your own Gmail account!</h1>
    <h3>None of your personal data will be stored</h3>
    <div id="flow-container">
        <ol id="breadcrumb">
        <li id="email-details-crumb" class="clickable selected" data-enabled="true">Basic Details</li>
        <li id="enter-attributes-crumb" data-enabled="false">Personalise Your emails</li>
        <li id="login-details-crumb" data-enabled="false">Enter Login Details</li>
        </ol>
    </div>
    <div id="email-details" class="flow">
        <form id="email-details-form">
            <div class="tooltip-container"  rel="tooltip" title="Your name as you want recipients to see it."><input id="from-name" name="from-name" placeholder="From (your name)"/></div>
            <p rel="tooltip" title='To write "Hello John" or "Hello Amy" in different emails, put "Hello ${name}" in the text. You can customise each name in the next step'>Personalise your email by using putting tags (use ${tagName} in the text) where you want to personalise.</p>
            <div class="tooltip-container"  rel="tooltip" title="You can personalise the subject too!"><input id="subject" name="subject" placeholder="Subject" /></div>
            <div class="tooltip-container"  rel="tooltip" title="Optional : the email address you want replies to be sent to"><input id="replyTo" name="replyTo" placeholder="Reply to Email Address" /></div>
            <textarea id="email-content" name="email-content" placeholder="Email text"></textarea>
            <div id="email-details-container">
                <div id="csv-emails-container">
                    <textarea id="csv-recipients" placeholder="Emails of the recipients (comma separated)"></textarea>
                </div>
                <div id="or-container">
                    OR
                </div>
                <div id="file-upload-container" rel="tooltip" title="Upload a csv. The first row should have the name of the tags.<br />Put <i>email</i> in the first row of the column with the email addresses">
                    <input type="file" id="email-attributes-file" enctype="multipart/form-data" />
                </div>
            </div>
            <input id="includeSignature" name="include-signature" type="checkbox" />
            <label for="includeSignature">Add a link to this website in my email signature.</label><br />
            <button id="submit-button">Continue</button>
        </form>
    </div>

    <div id="enter-attributes" style="display : none;" class="flow"></div>

    <div id="login-details" style="display : none;" class="flow"></div>

    <div id="send-email-response" class="flow"></div>