<input id="page-name" type="hidden" value="home"/>
    <h1>Send Personalised Emails from your own Gmail account!</h1>
    <h3>None of your personal data will be stored</h3>
    <div id="flow-container">
        <ol id="breadcrumb">
        <li id="email-details-crumb" class="clickable selected" data-enabled="true">Basic Details</li>
        <li id="enter-attributes-crumb" data-enabled="false">Personalise Your emails</li>
        <li id="login-details-crumb" data-enabled="false">Enter Login Details</li>
        </ol>
    </div>
    <div id="email-details" class="flow">
        <form id="email-details-form">
            <input id="from-name" name="from-name" placeholder="From (your name)"/>
            <p>Personalise your email by using putting ${anything} where you want to personalise.</p>
            <p>to write "Hello John" or "Hello Amy" in different emails, use "Hello ${name}" in the text. You can customise each name in the next step</p>
            <input id="subject" name="subject" placeholder="Subject" />
            <textarea id="email-content" name="email-content" placeholder="Email text"></textarea>
            <textarea id="csv-recipients" name="recipients" placeholder="Emails of the recipients (comma separated)"></textarea>
            <input id="includeSignature" name="include-signature" type="checkbox" />
            <label for="includeSignature">Add a link to this website in my email signature.</label>
            <button id="submit-button">Continue</button>
        </form>
    </div>

    <div id="enter-attributes" style="display : none;" class="flow"></div>

    <div id="login-details" style="display : none;" class="flow"></div>

    <div id="send-email-response" class="flow"></div>