<h1>Send Personalised Emails from your own Gmail account!</h1>
<h3 id="demo-video"><a href="https://www.youtube.com/watch?v=Kkbce__6SG4" target="_blank"><button>&#9658;</button>Watch a demo</a></h3>
<div id="flow-container">
    <ol id="breadcrumb">
    <li id="email-details-crumb" class="clickable selected" data-enabled="true">1. Add details</li>
    <li id="enter-attributes-crumb" data-enabled="false">2. Personalise</li>
    <li id="login-details-crumb" data-enabled="false">3. Login to your email account</li>
    </ol>
</div>
<div id="email-details" class="flow">
    <form id="email-details-form">
        <p class="personalise-text">Personalise your email by using putting tags (use ${tagName} in the text).<img class="small-help-icon" src="/images/help.png" rel="tooltip" title='To write "Hello John" or "Hello Amy" in different emails, put "Hello ${name}" in the text.' /></p>
        <label for="subject">Subject <img class="help-icon" src="/images/help.png" rel="tooltip" title="You can personalise the subject too!" /></label>
        {{> sink element='#subject'}}
        <input id="subject" name="subject"/>
        <label for="email-content">Email Text</label>
        <div id="email-content-container">
          {{> sink element='#email-content'}}
          <textarea id="email-content" name="email-content"></textarea>
        </div>
        <label for="csv-recipients">Email addresses</label>
        <div id="email-details-container">
            <div id="csv-emails-container">
                <textarea id="csv-recipients" placeholder="comma seperated addresses"></textarea>
            </div>
            <div id="or-container">
                OR
            </div>
            <div id="file-upload-container" rel="tooltip" title="Upload a csv. The first row should have the name of the tags.<br />Put <i>email</i> in the first row of the column with the email addresses">
                <input type="file" id="email-attributes-file" enctype="multipart/form-data" style="width : 80%;" />
                <img class="help-icon" src="/images/help.png" />
                <span id="sampleAttributeFile">Download sample CSV file</span>
            </div>
        </div>
        <div id="attachment-container">
          <label for="attachment">Attachment</label>
          <input type="file" id="attachment" enctype="multipart/form-data"  />
        </div>
        <div style="margin-top : 10px;">
            <input id="includeSignature" name="include-signature" type="checkbox" />
            <label style="display : initial;" for="includeSignature">Add a link to this website in my email signature.</label><br />
        </div>
        <div id="more-options-text" class="toggle-element" data-toggle="#optional-attributes, #hide-options-text">More Options</div>
        <div id="optional-attributes" style="display : none;">
            <div id="hide-options-text"  style="display : none;" class="toggle-element" data-toggle="#optional-attributes, #more-options-text">Hide</div>
            <div class="tooltip-container"  rel="tooltip" title="Your name as you want recipients to see it."><input id="from-name" name="from-name" placeholder="From (your name)"/></div><img class="help-icon" src="/images/help.png" rel="tooltip" title="Your name as you want recipients to see it." />
            <div class="tooltip-container" rel="tooltip" title="Optional : the email address you want replies to be sent to" ><input id="replyTo" name="replyTo" placeholder="Reply to Email Address" /></div>
            <img class="help-icon" src="/images/help.png"  rel="tooltip" title="Optional : the email address you want replies to be sent to"/>
        </div>
        <button id="submit-button">Continue</button>
    </form>
</div>

<div id="enter-attributes" style="display : none;" class="flow"></div>

<div id="login-details" style="display : none;" class="flow"></div>

<div id="send-email-response" class="flow"></div>

<link rel="stylesheet" href="/zepto-tooltip.css" />
<script type="text/javascript" src="/plugins/happy.js"></script>
<script src="/bundle.js"></script>
<script type="text/javascript" src="/plugins/zepto.animate.js"></script>
<script type="text/javascript" src="/plugins/zepto-tooltip.js"></script>
<script type="text/javascript" src="/plugins/picoModal-2.1.0.min.js"></script>
