<form id="email-account-details">
    <input id="email" type="email" placeholder="your email address"/>
    <input id="password" type="password" placeholder="Password of your email account"/>
    <button id="submit-login-details">Send Emails</button>
</form>